<h1> index page for customers </h1>
<table class="table">
    <thead>
        <th>Name</th>
        <th>Address</th>
	<th>Phone</th>
	<th>email</th>
    </thead>
    <tbody>
<% @customers.each do |cust| %>
    <tr>
        <td><%= cust.customername %></td>
        <td><%= cust.customeraddress %></td>
        <td><%= cust.phonenumber %></td>
        <td><%= cust.email %></td>


    </tr>
<% end %>
    </tbody>
</table>
