<p id="notice"><%= notice %></p>

<p>
  <strong>Itemtypecategory:</strong>
  <%= @item_type_category.itemtypecategory %>
</p>

<%= link_to 'Edit', edit_item_type_category_path(@item_type_category) %> |
<%= link_to 'Back', item_type_categories_path %>
